<?xml version="1.0" encoding="UTF-8"?>
<!-- Ce fichier de configuration est utilisé uniquement en local, la configuration pour l'application déployée
     est disponible dans le chart Helm. -->
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5p [%c] - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="net.lecigne.somafm" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
